name: Node.js (no cache)

on:
  workflow_dispatch:
  push:
    # Only trigger the follow if changes are pushed to this file
    paths: [".github/workflows/build_with_no_cache.yml"]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
      
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "14.x"
          cache: "npm"
      
      - name: Build
        working-directory: .app/
        run: |
          npm ci
          npm run build --if-present


